<%= form_for @workshop do |f| %>

  <div class="form-group">
    <%= f.label :facilitator_id %><br />
    <%= f.select :facilitator_id, options_from_collection_for_select(@facilitators, 'id', 'full_name'), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :institution_id %><br />
    <%= f.select :institution_id, options_from_collection_for_select(@institutions, 'id', 'name'), class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :additional_location_info %><br />
    <%= f.text_area :additional_location_info, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :starts_at %><br />
    <div id="datetimepicker1" class="input-group date">
      <%= f.text_field :starts_at, data: { target: "#datetimepicker1", toggle: "datetimepicker" }, autofocus: true, class: "form-control datetimepicker-input" %>
      <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

  <%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>

 <%# => Workshop(id: integer, name: string, description: string, institution_id: integer, additional_location_info: string, starts_at: datetime, duration: float, stipend: float, sign_up_deadline: datetime, attendee_limit: integer, review_deadline: string, facilitator_id: integer, created_at: datetime, updated_at: datetime) %>


  <script>
    $(function () {
      $('#datetimepicker1').datetimepicker();
    });
  </script>
