<%= form_for :attendee do |fo| %>

  <%# <% if signed_in? %1> %>
  <%#   <%= f.hidden_field :faculty_id, current_user.id %1> %>
  <%#   <%= current_user.full_name %1> %>
  <%# <% else %1> %>
    <%= form_for :user do |f| %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "fname", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "lname", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <%= f.submit "Sign up", class: "btn btn-primary" %>
    <% end %>
  <%# <% end %1> %>

  <div class="form-group">
    <%= fo.label :name %><br />
    <%= fo.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <%= fo.submit "Sign up", class: "btn btn-primary" %>
<% end %>
