<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) + " - Open Textbook Network Dashboard" : "Open Textbook Network Dashboard" %></title>
    <%= csrf_meta_tags %>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

  </head>

  <body class="container">

    <header class="main">
      <div class="row">
        <div class="col-sm-12">
          <%= image_tag 'banner.png', class: "banner img-fluid" %>
        </div>
      </div>


        <%= render 'layouts/nav' %>
    </header>

    <main>
      <% if notice.present? %>
        <aside class="alert alert-info">
          <%= notice %>
        </aside>
      <% end %>
      <% if alert.present? %>
        <aside class="alert alert-danger">
          <%= alert %>
        </aside>
      <% end %>

      <%= yield %>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

    <!-- Modal -->
    <%# <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true"> %>
    <%#   <div class="modal-dialog modal-dialog-centered" role="document"> %>
    <%#     <div class="modal-content"> %>
    <%#       <div class="modal-header"> %>
    <%#         <h5 class="modal-title" id="ModalLongTitle">Modal title</h5> %>
    <%#         <button type="button" class="close" data-dismiss="modal" aria-label="Close"> %>
    <%#           <span aria-hidden="true">&times;</span> %>
    <%#         </button> %>
    <%#       </div> %>
    <%#       <div class="modal-body"> %>
    <%#         ... %>
    <%#       </div> %>
    <%#       <div class="modal-footer"> %>
    <%#         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> %>
    <%#         <button type="button" class="btn btn-primary">Save changes</button> %>
    <%#       </div> %>
    <%#     </div> %>
    <%#   </div> %>
    <%# </div> %>

  </body>

</html>
